.brands-container {
  margin-top: 20px;
  text-align: center;
  position: relative;
  top: 500px;
}

.brand-dropdown {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.selected-brand {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
